#header {
  height: 50px;
  background: #1d2124;
  color: #fff;
}

#header h1 {
  color: #fff;
}

a:link,
a:visited {
  color: #3a77d7;
}

.brand_img {
  width: 80px;
  height: 50px;
}

.breadcrumbs {
  background: #2e5d3d !important;
}

.breadcrumbs a {
  color: #e85858 !important;
}

.module caption {
  background: #02ab3b;
}

input.default {

}